# define directories where radar files live, where to save the cvp files and where to put the log file
# LOG_OUTPUT /gws/smf/j04/ncas_radar/rrniii/BioDAR/VP_Extraction/Output/CVP_Cols_Done.txt
LOG_OUTPUT /home/users/tommy/VP_extraction_top/outputs/Luton_Airport_Output.txt
DATA_INPUT /gws/ssde/j25a/ncas_radar/vol3/ukmo-nimrod/raw_h5_data/single-site/chenies/%Y/
# DATA_OUTPUT /gws/smf/j07/ncas_radar/data/ukmo-nimrod/raw_cvp_data/
DATA_OUTPUT /gws/ssde/j25a/ncas_radar/vol3/TM_VP_Extraction_Outputs/Luton_Airport_Test/
PROFILE_TYPE CVP
MET_OFFICE True
# define which CVPs we want to create
COL_RADIUS 5.0
MAX_RADIUS 30.0
MIN_H 0
MAX_H 2000
H_STEP 200
FIELD_LIST PhiDP RhoHV SQI W dBZ ZDR V
CREATE_CVP_GRID False
# lat lon of fixed sites
SPECIFIC_CVP 51.877481 -0.370854 fixed1 